/* 一番やりたいこと */
.no-overflow{
    display: none !important;
}

/* サイトニュースフォーラムもいらないかな */
#site-news-forum{
    display: none !important;
}

.hidden{
    display:block !important;
    visibility: visible !important;
}

/* カレンダー */
.top-cal h3{
    font-weight: normal !important;
    font-size: 1rem !important;
}
.card-header{
    padding:0 !important;
}
.top-cal .discription > *:not(a){
    display: none;
}
